<!DOCTYPE html>
html(lang="en")
  head
    title Image Magazine
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Asap|Catamaran|Dosis|Fjalla+One|Lato|Roboto|Source+Sans+Pro" rel="stylesheet")
  body
    include header

    include home-articles


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="assets/js/app.js")
    script(src="https://use.fontawesome.com/d49bb92f13.js")
